
/* Base Variables to change (referenced later in file)  */
:root {

    --bg-color : grey;
    --div-color : white;
    --text-color: black;
}

/* Adding new font for title(h1)*/
@font-face {

    font-family: titleFont; 
    src : url(titleFont.ttf) format('truetype');
}

/* Class used to add a rounded container around an element, will be --div-color */
.bubble {
    border-radius: 25px;
    background: var(--div-color);
    padding: 10px 10px; 
}

/* Variation of Bubble class using background color as bg */
.bubblebg {
    border-radius: 25px;
    background: var(--bg-color);
    padding: 10px 10px; 
}

/* Makes elements float next to each other */
.float {

    float : left;
    padding-right: 20px;
}

/* Setting bg color and fonts for entire document */
body {
    
    font-family: Verdana;
    color: var(--text-color);
    background-color: var(--bg-color);
    text-align: left;
               
}
h4{
    font-style: Bold;
    font-family: Verdana;
    font-size: 125%;
}

/* Adding new font to h1 */
h1{
    font-family: titleFont;
    font-size: 500%
}

/* Centering h1 and h5 to the middle of the screen */
h1, h5{

    text-align: center;
}
h2{
    text-align: center;
}

/* Setting tables and cells to align left */
table, td, th {    

    text-align: left;
}

/* Collapsing table border and making table width the full screen */
table {
    border-collapse: collapse;
    border-width: 0px;
    border-color: var(--div-color);
    width: 100%;
}

/* Adding padding to cels and horizontal bottom border */
th, td {
    padding: 15px;
    border-bottom: 1px solid var(--text-color);
}

/* Setting Navbar so its stuck to top of screen (using absolute values) */
ul {
    padding-top: 0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: absolute; top: 0px; left: 0px; right: 0px; 
    position: fixed;
    width: 100%;
    height: 65px;    
    list-style-type: none;
    overflow: hidden;
    background-color: var(--div-color);
    border-bottom: solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--text-color);

}

/* Setting list elements to float left */
li {
    float: left;
    border-right:1px solid #bb;
}

/* Removing border from last navbar element */
li:last-child {
    border-right: none;

}

/* Setting defaults for all navbar elements  */
li a {

    font-family: Verdana;
    font-style: italic;
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 23px 16px;  
    text-decoration: none;
    font-size: 120%;
}

/* Setting on hover colors */
li a:hover:not(.active) {
    
    color: var(--div-color);
    background-color: var(--text-color);
    
}

/* Setting defaults for input element */
input {
    width: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    background-color: var(--div-color);
    color: var(--text-color);
}

/* Changing size of submit button */
input[type=submit] {   
    
    width: 100px;
}

/* Changing color of submit button on hover */
input[type=submit]:hover {
    background-color: var(--bg-color);
    color: var(--div-color);
  
    
}

a[id=Button] {
    width: 125px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    background-color: var(--div-color);
    color: var(--text-color);
    text-decoration: none;
    
}

a[id=Button]:hover {
 background-color: var(--bg-color);
    color: var(--div-color);
}
