
@font-face {

    font-family: SuperSkyline; 
    src : url(SuperSkyline.ttf) format('truetype');
}



body {
    
    font-family: Verdana;
    color: darkblue;
    background-color: lightblue;
    text-align: left;

            
}




h1, h5{

    text-align: center;
}

table, td, th {    
    border: 1px solid lightblue;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid black;
}

ul {
   
    border-radius: 15px;
    
    width: 95%;
    height: 45px;    
    list-style-type: none;
    overflow: hidden;
    background-color: white;

}

li {
    float: left;
    border-right:1px solid #bb;
}

li:last-child {
    border-right: none;

}

li a {

    font-family: Verdana;
    font-style: italic;
    display: block;
    color: darkblue;
    text-align: center;
    padding: 14px 16px;  

    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: darkblue;
    color : white;
    
}


input {
    width: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}

input[type=submit] {
    width: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: darkblue;
    background-color: white;
    
}
input[type=submit]:hover {
    background-color: darkblue;
    color: white;
  
    
}


.active {

   
}

